@import "tailwindcss";

:root {
  --font-sans: Arial, Roboto, sans-serif;
}

/* AntD + base overrides */
body,
.ant-typography,
.ant-card,
.ant-card * {
  font-family: var(--font-sans) !important;
}

@theme {
  --font-sans: Arial, Roboto, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

/* Tailwind base layer */
@layer base {
  html,
  body {
    font-family: var(--font-sans);
    font-feature-settings: var(--font-sans--font-feature-settings);
  }
}

/* FINAL BOSS OVERRIDE (OUTSIDE @layer because we want it LAST) */
div,
p,
span,
button,
input,
label,
.ant-btn,
.ant-form,
.ant-form *,
.ant-input,
.ant-input *,
.ant-typography,
.ant-card,
.ant-card * {
  font-family: Arial, Roboto, sans-serif !important;
}
.ant-form-item .ant-form-item-explain-error {
    color: #FF0000 !important; /* overrides default red */
}

/* Global min-height for buttons, table and list rows */
button,
input,
textarea,
select,
.ant-btn,
.ant-input,
.ant-select-selector,
.ant-table-cell,
.ant-table-row {
  min-height: 40px !important;
}