@import "tailwindcss";

:root {
  --font-sans: Arial, Roboto, sans-serif;
}

/* AntD + base overrides */
body,
.ant-typography,
.ant-card,
.ant-card * {
  font-family: var(--font-sans) !important;
}

@theme {
  --font-sans: Arial, Roboto, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

/* Tailwind base layer */
@layer base {

  html,
  body {
    font-family: var(--font-sans);
    font-feature-settings: var(--font-sans--font-feature-settings);
  }
}

/* FINAL BOSS OVERRIDE (OUTSIDE @layer because we want it LAST) */
div,
p,
span,
button,
input,
label,
.ant-btn,
.ant-form,
.ant-form *,
.ant-input,
.ant-input *,
.ant-typography,
.ant-card,
.ant-card * {
  font-family: Arial, Roboto, sans-serif !important;
}

.ant-form-item .ant-form-item-explain-error {
  color: #FF0000 !important;
  /* overrides default red */
}

/* Global min-height for buttons, table and list rows */
button,
input,
textarea,
select,
.ant-btn,
.ant-input,
.ant-select-selector,
.ant-table-cell,
.ant-table-row {
  min-height: 40px !important;
}

/* Custom thin scrollbar */
.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(203 213 225);
  border-radius: 9999px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(148 163 184);
}

.ant-picker.ant-picker-focused {
  border-color: #ff5a5f !important;
  box-shadow: 0 0 0 2px rgba(255, 90, 95, 0.2) !important;
}

.ant-picker:hover {
  border-color: #ff5a5f !important;
}

.ant-picker-input>input::placeholder {
  color: #777777 !important;
}

.ant-select-selector {
  height: 44px !important;
  display: flex !important;
  align-items: center !important;
  border-left: 3px solid #ff5a5f !important;
  border-radius: 4px !important;
}


.ant-select-selector:hover {
  border-color: #ff5a5f !important;
}

.ant-select-focused .ant-select-selector {
  border-color: #ff5a5f !important;
}

.ant-select-selection-placeholder {
  color: #777777 !important;
}
