# Build Artifacts
target/
build/
*.jar
*.war
*.class
redis/data/

# IDE-specific files
.idea/
.vscode/
.eclipse/
.project
.classpath
.settings/
*.iml
set-env.sh
# Log files
logs/
*.log
.env
# Environment variables and secrets
iam_service/.env
iam_service/.env
application.properties.example
application.yml.example

# Operating System files
.DS_Store
Thumbs.db

# Maven/Gradle specific
.gradle/
.m2/
out/

# Temporary files
*.tmp
*~
*.swp
*.bak