spring:
  application:
    name: iam_service
  profiles:
    active: dev
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: true
eureka:
  client:
    enabled: false
jwt:
  secret: ${JWT_SECRET}
allowed:
  origin: ${ALLOWED_ORIGIN}
logging:
  level:
    root: INFO
