spring:
  application:
    name: iam_service
  profiles:
    active: dev
management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: true
eureka:
  client:
    enabled: false

logging:
  level:
    root: INFO
